html,
body {
	position: relative;
	height: 100%;
	background: #fff !important;
}

::-webkit-scrollbar {
	width: 0.3rem;
	&:horizontal {
		height: 0.3rem;
	}
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius: 3em;
	background: #b8b8b8;
}

#root {
	height: 100%;
}
.capsule {
	border-radius: 10rem !important;
}
.layout {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.layout-item {
	position: relative;
	width: 100%;
}
.flex-grow {
	flex: 1 !important;
}
.d-flex {
	display: flex;
}
.align-items-center {
	align-items: center;
}
.h-100 {
	height: 100% !important;
}
