@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities/spacing";
@import "node_modules/bootstrap/scss/utilities/text";
@import "node_modules/bootstrap/scss/utilities/background";

html,
body {
	position: relative;
	height: 100%;
	background: #fff !important;
}

::-webkit-scrollbar {
	width: 0.3rem;
	&:horizontal {
		height: 0.3rem;
	}
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius: 3em;
	background: #b8b8b8;
}

#root {
	height: 100%;
}
.capsule {
	border-radius: 10rem !important;
}
.layout {
	flex-direction: column;
	height: 100%;
	position: relative;
}
.layout-column {
	flex-basis: 0 !important;
	width: 100%;
}
.flex-grow {
	flex-grow: 1 !important;
}
.d-flex {
	display: flex;
}
.align-items-center {
	align-items: center;
}
.h-100 {
	height: 100% !important;
}
