@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities/sizing";
@import "node_modules/bootstrap/scss/utilities/spacing";
@import "node_modules/bootstrap/scss/utilities/text";
@import "node_modules/bootstrap/scss/utilities/background";

/* @import "node_modules/bootstrap/scss/utilities/align";
@import "node_modules/bootstrap/scss/utilities/borders";
@import "node_modules/bootstrap/scss/utilities/clearfix";
@import "node_modules/bootstrap/scss/utilities/display";
@import "node_modules/bootstrap/scss/utilities/embed";
@import "node_modules/bootstrap/scss/utilities/flex";
@import "node_modules/bootstrap/scss/utilities/float";
@import "node_modules/bootstrap/scss/utilities/position";
@import "node_modules/bootstrap/scss/utilities/screenreaders";
@import "node_modules/bootstrap/scss/utilities/shadows";
@import "node_modules/bootstrap/scss/utilities/visibility"; */

html,
body {
	position: relative;
	height: 100%;
	background: #fff !important;
	overflow: hidden;
}

#root {
	height: 100%;
}
.capsule {
	border-radius: 10rem !important;
}
