@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.flex-grow {
  flex-grow: 1;
}
.vh-100 {
  height: 100vh;
}
.overflow-auto {
  overflow: auto;
}

.box-shadow {
  /* box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25); */
  filter: drop-shadow(0 0.2rem 0.2rem rgba(0, 0, 0, 0.25));
}
